{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<div class="about-container">

    <div class="about-image">
        <img src="{% static 'images/img_net (1).jpg' %}" style="height:auto; width:280px; " alt="Image">
    </div>

    <div class="about-text">
        <h1>{{ title }}</h1>
        <p>{{ description }}</p>
        <a href="{% url 'servicenettoyage' %}" class="btn-retour">Retour</a>
    </div>

</div>

</body>
</html>
